<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ReservaViewDlg" widgetVar="ReservaViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewReservaTitle}">
            <h:form id="ReservaViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{reservaController.selected != null}">
                        <h:outputText value="#{bundle.ViewReservaLabel_id}"/>
                        <h:outputText value="#{reservaController.selected.id}" title="#{bundle.ViewReservaTitle_id}"/>
                        <h:outputText value="#{bundle.ViewReservaLabel_fechaEve}"/>
                        <h:outputText value="#{reservaController.selected.fechaEve}" title="#{bundle.ViewReservaTitle_fechaEve}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewReservaLabel_fechaReg}"/>
                        <h:outputText value="#{reservaController.selected.fechaReg}" title="#{bundle.ViewReservaTitle_fechaReg}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewReservaLabel_diasEspera}"/>
                        <h:outputText value="#{reservaController.selected.diasEspera}" title="#{bundle.ViewReservaTitle_diasEspera}"/>
                        <h:outputText value="#{bundle.ViewReservaLabel_interesado}"/>
                        <h:outputText value="#{reservaController.selected.interesado}" title="#{bundle.ViewReservaTitle_interesado}"/>
                        <h:outputText value="#{bundle.ViewReservaLabel_detalle}"/>
                        <h:outputText value="#{reservaController.selected.detalle}" title="#{bundle.ViewReservaTitle_detalle}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ReservaViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
