<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CobrosEditDlg" widgetVar="CobrosEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditCobrosTitle}">
            <h:form id="CobrosEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{cobrosController.selected != null}">                      
                        <p:outputLabel value="#{bundle.EditCobrosLabel_ciCliente}" for="ciCliente" />
                        <p:inputText id="ciCliente" value="#{cobrosController.selected.ciCliente}" title="#{bundle.EditCobrosTitle_ciCliente}" />
                        <p:outputLabel value="#{bundle.EditCobrosLabel_nombreCliente}" for="nombreCliente" />
                        <p:inputText id="nombreCliente" value="#{cobrosController.selected.nombreCliente}" title="#{bundle.EditCobrosTitle_nombreCliente}" required="true" requiredMessage="#{bundle.EditCobrosRequiredMessage_nombreCliente}"/>
                        <p:outputLabel value="#{bundle.EditCobrosLabel_monto}" for="monto" />
                        <p:inputText id="monto" value="#{cobrosController.selected.monto}" title="#{bundle.EditCobrosTitle_monto}" required="true" requiredMessage="#{bundle.EditCobrosRequiredMessage_monto}"/>
                        <p:outputLabel value="#{bundle.EditCobrosLabel_fecha}" for="fecha" />
                        <p:calendar id="fecha" pattern="MM/dd/yyyy HH:mm:ss" value="#{cobrosController.selected.fecha}" title="#{bundle.EditCobrosTitle_fecha}" required="true" requiredMessage="#{bundle.EditCobrosRequiredMessage_fecha}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditCobrosLabel_cie}" for="cie" />
                        <p:inputText id="cie" value="#{cobrosController.selected.cie}" title="#{bundle.EditCobrosTitle_cie}" required="true" requiredMessage="#{bundle.EditCobrosRequiredMessage_cie}"/>
                        <p:outputLabel value="#{bundle.EditCobrosLabel_idCont}" for="idCont" />
                        <p:selectOneMenu id="idCont" value="#{cobrosController.selected.idCont}" required="true" requiredMessage="#{bundle.EditCobrosRequiredMessage_idCont}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{contratoController.itemsAvailableSelectOne}"
                                           var="idContItem"
                                           itemValue="#{idContItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{cobrosController.update}" value="#{bundle.Save}" update="display,:CobrosListForm:datalist,:growl" oncomplete="handleSubmit(args, 'CobrosEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="CobrosEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
