<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CargoLaboralCreateDlg" widgetVar="CargoLaboralCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateCargoLaboralTitle}">
            <h:form id="CargoLaboralCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{cargoLaboralController.selected != null}">                       
                        <p:outputLabel value="#{bundle.CreateCargoLaboralLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{cargoLaboralController.selected.nombre}" title="#{bundle.CreateCargoLaboralTitle_nombre}" required="true" requiredMessage="#{bundle.CreateCargoLaboralRequiredMessage_nombre}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{cargoLaboralController.create}" value="#{bundle.Save}" update="display,:CargoLaboralListForm:datalist,:growl" oncomplete="handleSubmit(args,'CargoLaboralCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="CargoLaboralCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
