<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CargoLaboralViewDlg" widgetVar="CargoLaboralViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewCargoLaboralTitle}">
            <h:form id="CargoLaboralViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{cargoLaboralController.selected != null}">
                        <h:outputText value="#{bundle.ViewCargoLaboralLabel_id}"/>
                        <h:outputText value="#{cargoLaboralController.selected.id}" title="#{bundle.ViewCargoLaboralTitle_id}"/>
                        <h:outputText value="#{bundle.ViewCargoLaboralLabel_nombre}"/>
                        <h:outputText value="#{cargoLaboralController.selected.nombre}" title="#{bundle.ViewCargoLaboralTitle_nombre}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="CargoLaboralViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
