<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ContenidoViewDlg" widgetVar="ContenidoViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewContenidoTitle}">
            <h:form id="ContenidoViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{contenidoController.selected != null}">
                        <h:outputText value="#{bundle.ViewContenidoLabel_id}"/>
                        <h:outputText value="#{contenidoController.selected.id}" title="#{bundle.ViewContenidoTitle_id}"/>
                        <h:outputText value="#{bundle.ViewContenidoLabel_clave}"/>
                        <h:outputText value="#{contenidoController.selected.clave}" title="#{bundle.ViewContenidoTitle_clave}"/>
                        <h:outputText value="#{bundle.ViewContenidoLabel_valor}"/>
                        <h:outputText value="#{contenidoController.selected.valor}" title="#{bundle.ViewContenidoTitle_valor}"/>
                        <h:outputText value="#{bundle.ViewContenidoLabel_idP}"/>
                        <h:outputText value="#{contenidoController.selected.idP}" title="#{bundle.ViewContenidoTitle_idP}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ContenidoViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
