<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PaqueteEditDlg" widgetVar="PaqueteEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditPaqueteTitle}">
            <h:form id="PaqueteEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{paqueteController.selected != null}">                       
                        <p:outputLabel value="#{bundle.EditPaqueteLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{paqueteController.selected.nombre}" title="#{bundle.EditPaqueteTitle_nombre}" required="true" requiredMessage="#{bundle.EditPaqueteRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{bundle.EditPaqueteLabel_precio}" for="precio" />
                        <p:inputText id="precio" value="#{paqueteController.selected.precio}" title="#{bundle.EditPaqueteTitle_precio}" required="true" requiredMessage="#{bundle.EditPaqueteRequiredMessage_precio}"/>
                        <p:outputLabel value="#{bundle.EditPaqueteLabel_descuento}" for="descuento" />
                        <p:inputText id="descuento" value="#{paqueteController.selected.descuento}" title="#{bundle.EditPaqueteTitle_descuento}" required="true" requiredMessage="#{bundle.EditPaqueteRequiredMessage_descuento}"/>
                        <p:outputLabel value="#{bundle.EditPaqueteLabel_precioTotal}" for="precioTotal" />
                        <p:inputText id="precioTotal" value="#{paqueteController.selected.precioTotal}" title="#{bundle.EditPaqueteTitle_precioTotal}" required="true" requiredMessage="#{bundle.EditPaqueteRequiredMessage_precioTotal}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{paqueteController.update}" value="#{bundle.Save}" update="display,:PaqueteListForm:datalist,:growl" oncomplete="handleSubmit(args, 'PaqueteEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PaqueteEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
