<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ContratoEditDlg" widgetVar="ContratoEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditContratoTitle}">
            <h:form id="ContratoEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{contratoController.selected != null}">                        
                        <p:outputLabel value="#{bundle.EditContratoLabel_costoTotal}" for="costoTotal" />
                        <p:inputText id="costoTotal" value="#{contratoController.selected.costoTotal}" title="#{bundle.EditContratoTitle_costoTotal}" required="true" requiredMessage="#{bundle.EditContratoRequiredMessage_costoTotal}"/>
                        <p:outputLabel value="#{bundle.EditContratoLabel_ACuenta}" for="ACuenta" />
                        <p:inputText id="ACuenta" value="#{contratoController.selected.ACuenta}" title="#{bundle.EditContratoTitle_ACuenta}" required="true" requiredMessage="#{bundle.EditContratoRequiredMessage_ACuenta}"/>
                        <p:outputLabel value="#{bundle.EditContratoLabel_saldo}" for="saldo" />
                        <p:inputText id="saldo" value="#{contratoController.selected.saldo}" title="#{bundle.EditContratoTitle_saldo}" required="true" requiredMessage="#{bundle.EditContratoRequiredMessage_saldo}"/>
                        <p:outputLabel value="#{bundle.EditContratoLabel_fechaCont}" for="fechaCont" />
                        <p:calendar id="fechaCont" pattern="MM/dd/yyyy" value="#{contratoController.selected.fechaCont}" title="#{bundle.EditContratoTitle_fechaCont}" required="true" requiredMessage="#{bundle.EditContratoRequiredMessage_fechaCont}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditContratoLabel_obs}" for="obs" />
                        <p:inputText id="obs" value="#{contratoController.selected.obs}" title="#{bundle.EditContratoTitle_obs}" />
                        <p:outputLabel value="#{bundle.EditContratoLabel_fechaEve}" for="fechaEve" />
                        <p:calendar id="fechaEve" pattern="MM/dd/yyyy" value="#{contratoController.selected.fechaEve}" title="#{bundle.EditContratoTitle_fechaEve}" required="true" requiredMessage="#{bundle.EditContratoRequiredMessage_fechaEve}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditContratoLabel_horaE}" for="horaE" />
                        <p:calendar id="horaE" pattern="HH:mm:ss" value="#{contratoController.selected.horaE}" title="#{bundle.EditContratoTitle_horaE}" required="true" requiredMessage="#{bundle.EditContratoRequiredMessage_horaE}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditContratoLabel_anfitrion}" for="anfitrion" />
                        <p:inputText id="anfitrion" value="#{contratoController.selected.anfitrion}" title="#{bundle.EditContratoTitle_anfitrion}" required="true" requiredMessage="#{bundle.EditContratoRequiredMessage_anfitrion}"/>
                        <p:outputLabel value="#{bundle.EditContratoLabel_detalle}" for="detalle" />
                        <p:inputText id="detalle" value="#{contratoController.selected.detalle}" title="#{bundle.EditContratoTitle_detalle}" />
                        <p:outputLabel value="#{bundle.EditContratoLabel_idPaq}" for="idPaq" />
                        <p:selectOneMenu id="idPaq" value="#{contratoController.selected.idPaq}" required="true" requiredMessage="#{bundle.EditContratoRequiredMessage_idPaq}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{paqueteController.itemsAvailableSelectOne}"
                                           var="idPaqItem"
                                           itemValue="#{idPaqItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditContratoLabel_cie}" for="cie" />
                        <p:selectOneMenu id="cie" value="#{contratoController.selected.cie}" required="true" requiredMessage="#{bundle.EditContratoRequiredMessage_cie}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{empleadoController.itemsAvailableSelectOne}"
                                           var="cieItem"
                                           itemValue="#{cieItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditContratoLabel_idRes}" for="idRes" />
                        <p:selectOneMenu id="idRes" value="#{contratoController.selected.idRes}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{reservaController.itemsAvailableSelectOne}"
                                           var="idResItem"
                                           itemValue="#{idResItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditContratoLabel_idTE}" for="idTE" />
                        <p:selectOneMenu id="idTE" value="#{contratoController.selected.idTE}" required="true" requiredMessage="#{bundle.EditContratoRequiredMessage_idTE}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{tipoEventoController.itemsAvailableSelectOne}"
                                           var="idTEItem"
                                           itemValue="#{idTEItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{contratoController.update}" value="#{bundle.Save}" update="display,:ContratoListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ContratoEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ContratoEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
