<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ContratoViewDlg" widgetVar="ContratoViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewContratoTitle}">
            <h:form id="ContratoViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{contratoController.selected != null}">
                        <h:outputText value="#{bundle.ViewContratoLabel_id}"/>
                        <h:outputText value="#{contratoController.selected.id}" title="#{bundle.ViewContratoTitle_id}"/>
                        <h:outputText value="#{bundle.ViewContratoLabel_costoTotal}"/>
                        <h:outputText value="#{contratoController.selected.costoTotal}" title="#{bundle.ViewContratoTitle_costoTotal}"/>
                        <h:outputText value="#{bundle.ViewContratoLabel_ACuenta}"/>
                        <h:outputText value="#{contratoController.selected.ACuenta}" title="#{bundle.ViewContratoTitle_ACuenta}"/>
                        <h:outputText value="#{bundle.ViewContratoLabel_saldo}"/>
                        <h:outputText value="#{contratoController.selected.saldo}" title="#{bundle.ViewContratoTitle_saldo}"/>
                        <h:outputText value="#{bundle.ViewContratoLabel_fechaCont}"/>
                        <h:outputText value="#{contratoController.selected.fechaCont}" title="#{bundle.ViewContratoTitle_fechaCont}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewContratoLabel_obs}"/>
                        <h:outputText value="#{contratoController.selected.obs}" title="#{bundle.ViewContratoTitle_obs}"/>
                        <h:outputText value="#{bundle.ViewContratoLabel_fechaEve}"/>
                        <h:outputText value="#{contratoController.selected.fechaEve}" title="#{bundle.ViewContratoTitle_fechaEve}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewContratoLabel_horaE}"/>
                        <h:outputText value="#{contratoController.selected.horaE}" title="#{bundle.ViewContratoTitle_horaE}">
                            <f:convertDateTime pattern="HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewContratoLabel_anfitrion}"/>
                        <h:outputText value="#{contratoController.selected.anfitrion}" title="#{bundle.ViewContratoTitle_anfitrion}"/>
                        <h:outputText value="#{bundle.ViewContratoLabel_detalle}"/>
                        <h:outputText value="#{contratoController.selected.detalle}" title="#{bundle.ViewContratoTitle_detalle}"/>
                        <h:outputText value="#{bundle.ViewContratoLabel_idPaq}"/>
                        <h:outputText value="#{contratoController.selected.idPaq}" title="#{bundle.ViewContratoTitle_idPaq}"/>
                        <h:outputText value="#{bundle.ViewContratoLabel_cie}"/>
                        <h:outputText value="#{contratoController.selected.cie}" title="#{bundle.ViewContratoTitle_cie}"/>
                        <h:outputText value="#{bundle.ViewContratoLabel_idRes}"/>
                        <h:outputText value="#{contratoController.selected.idRes}" title="#{bundle.ViewContratoTitle_idRes}"/>
                        <h:outputText value="#{bundle.ViewContratoLabel_idTE}"/>
                        <h:outputText value="#{contratoController.selected.idTE}" title="#{bundle.ViewContratoTitle_idTE}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ContratoViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
